<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <h1>Cadastro de Produtos</h1>
</head>
<body>
    <form action="/gravar" method="POST">
        <input type="text" placeholder="Nome do produto" name="nome"/>
        <input type="text" placeholder="Valor do produto" name="preco"/>
        <input type="text" placeholder="Categoria do produto" name="categoria"/>
        <input type="submit" value="Cadastrar"/>
    </form>
</body>
</html>
